body {
    margin: 0;
}

.login-form input {
    width: 250px;
    height: 25px;
    line-height: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
    background: #cccccc;
    color:blue;
}

.login-form input[type=submit] {
    background: blue;
    color: #fff;
}

.all-heroes-container .heroes-container{
    float: left;
    margin: 15px;
}